<!-- /views/setup.erb -->

<!DOCTYPE html>
<html>
<head>
  <h2>We played <%= @our_choice=%>!</h2>
  <h2>They played <%= @random=%>!</h2>
  <h2><%= @result=%></h2>
</head>
<body>
  <div class="navbar">
    <div><a href="/">Rules</a></div>
  </div>
</body>
</html>
