<!-- /views/wrapper.erb -->

<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <div class="navbar">
    <div><a href="/rock">Play Rock</a></div>
    <div><a href="/paper">Play Paper</a></div>
    <div><a href="/scissors">Play Scissors</a></div>
  </div>

  <%= yield %>

</body>
</html>
